
body, h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.2;
    background: linear-gradient(to bottom, #041a2b, #582d1c);
    color: #fff; 
  }
  

  header {
    text-align: center;
    margin: 20px 0;
  }
  
  header h1 {
    color: #fff; 
  }
  
  
  section {
    text-align: center;
    margin: 20px 0;
  }
  
 
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  th, td {
    border: 1px solid #daffff;
    padding: 10px;
  }
  
  th {
    background-color: #722c2c;
  }
  
 
  img {
    max-width: 100%;
    height: auto;
  }
  
 
  footer {
    text-align: center;
    margin-top: 20px;
  }
  
  
  @media only screen and (max-width: 600px) {
    table {
      font-size: 14px;
    }
  }
  